@font-face {
    font-family: 'Roboto';
    src: url('roboto.woff2');
}

html {
    font-family: "Roboto", serif;
}

body {
    width: 80%;
    margin: 2.5rem auto 0;
    line-height: 1.5rem;
    padding-bottom: 2.3rem;
}

h1 {
    line-height: 2.5rem;
}

input {
    padding: 0.5rem;
    margin: 0.5rem 0;
}
