{% extends 'base.html.twig' %}

{% set favicon = asset("app.ico") %}
{% set css = "" %}
{% set js = "" %}



{% block body %}
    <h1>{{ title }}</h1>
    <p>
        {{ description }}<br/><br/>
        Voici une liste des outils disponibles :
    </p>
    <ul>
        <li><h2>Voitures</h2></li>
        <ul>
            <li><a href="{{ path('cars_fr-customs-tax-calculator') }}">Calculateur des frais de douane pour l'importation de voiture anglaise</a></li>
            <li><a href="{{ path('cars_uk-car-bill-generator') }}">Générateur de facture d'achat d'un véhicule anglais</a></li>
        </ul>
    </ul>
{% endblock %}
